/*global*/
*{
    font-family: Impact;
}

h1, h2{
    color: rgb(25,121,25);
}

h3, p{
    color: rgb(35,182,37);
}

h3{
        font-weight: 100;
}

body{
    background-color: #9fafbf;
    opacity: 1;
    background-image:  linear-gradient(30deg, #6c808d 12%, transparent 12.5%, transparent 87%, #6c808d 87.5%, #6c808d), linear-gradient(150deg, #6c808d 12%, transparent 12.5%, transparent 87%, #6c808d 87.5%, #6c808d), linear-gradient(30deg, #6c808d 12%, transparent 12.5%, transparent 87%, #6c808d 87.5%, #6c808d), linear-gradient(150deg, #6c808d 12%, transparent 12.5%, transparent 87%, #6c808d 87.5%, #6c808d), linear-gradient(60deg, #6c808d77 25%, transparent 25.5%, transparent 75%, #6c808d77 75%, #6c808d77), linear-gradient(60deg, #6c808d77 25%, transparent 25.5%, transparent 75%, #6c808d77 75%, #6c808d77);
    background-size: 52px 91px;
    background-position: 0 0, 0 0, 26px 46px, 26px 46px, 0 0, 26px 46px;
}

/*Header Bar*/
header{
    display: flex;
    background-color: rgba(0,0,0,0.85);
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.head-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    align-self:first baseline;
}

nav li{
    display: inline;
    padding: 1rem;
}

nav li a{
    color: rgb(35,182,37);
    text-decoration: none;
    font-size: 2rem;
    border: 3px solid rgb(25,121,25);
    background-color: rgb(58,58,58);
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

header h1{
    padding: 1rem;
    font-size: 6rem;
    margin:-1.5rem;
    text-transform: uppercase;
    text-size-adjust: auto;
}

header h3{
    margin-top: -0.5rem;
    margin-bottom: -0.05rem;
}

/*Body Articles*/
main{
    display: flex;
    justify-content: space-between;
}

.box{
    background-color: rgba(0,0,0,0.85);
    height: auto;
    width: 49.5%;
    margin-top: 1rem;
    text-align: center;
}

.box h1, .box h2{
    font-weight: 500;
    
}

.box h1{
    text-transform: uppercase;
    
}

.box p{
    font-weight: 300;
}

#recent{
    display: flex;
}

#heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    border: 2px solid rgb(25,121,25);
    height: 10rem;
    width: 10rem;
    margin: 1rem;
}

.head-shot{
    height: 30rem;
    width: 30rem;
}

/*Smaller Viewports*/

@media only screen and (max-width: 1708px){
    #right{
        display: none;
    }

    header{
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1408px){
       header h1{
        font-size: 5rem;
        margin: -1rem;
    }
}

@media only screen and (max-width: 1202px){
       header h1{
        font-size: 4rem;
        margin: -0.5rem
    }

    nav li{
        padding: 0rem;
    }
}

@media only screen and (max-width: 1080px){
    nav li a{
        font-size: 1.75rem;
        border: 3px solid rgb(25,121,25);
        padding: 0.4rem 1rem;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 1043px){
    header{
        justify-content: space-around;
    }

    #left{
        display: none;
    }

    main{
    flex-direction: column;
    }

    .box{
        width: auto;
        text-size-adjust: 150%;
    }
}

@media only screen and (max-width: 705px){
    nav li a{
        font-size: 1.5rem;
        border: 3px solid rgb(25,121,25);
        padding: 0.4rem 1rem;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 644px){
    nav li a{
        font-size: 1.25rem;
        border: 3px solid rgb(25,121,25);
        padding: 0.4rem 1rem;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 500px){
    .box{
        text-size-adjust: 500%;
    }
}












