/*global*/
*{
    font-family: Impact;
}

h1, h2{
    color: rgb(25,121,25);
}

h3, p{
    color: rgb(35,182,37);
}

h3{
        font-weight: 100;
}

body{
    background-image: url('/resources/background-texture.jpg');
}

/*Header Bar*/
header{
    display: flex;
    background-color: rgba(0,0,0,0.85);
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.head-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    align-self:first baseline;
}

nav li{
    display: inline;
    padding: 1rem;
}

nav li a{
    color: rgb(35,182,37);
    text-decoration: none;
    font-size: 2rem;
    border: 3px solid rgb(25,121,25);
    background-color: rgb(58,58,58);
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

header h1{
    padding: 1rem;
    font-size: 6rem;
    margin:-1.5rem;
    text-transform: uppercase;
    text-size-adjust: auto;
}

header h3{
    margin-top: -0.5rem;
    margin-bottom: -0.05rem;
}

/*Body Articles*/
main{
    display: flex;
    justify-content: space-between;
}

.box{
    background-color: rgba(0,0,0,0.85);
    height: auto;
    width: 49.5%;
    margin-top: 1rem;
    text-align: center;
}

#recent{
    display: flex;
}

#heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    border: 2px solid rgb(25,121,25);
    height: 10rem;
    width: 10rem;
    margin: 1rem;
}

.head-shot{
    height: 30rem;
    width: 30rem;
}

/*Smaller Viewports*/

/*@media only screen and (max-width: 1708px){
    .right{
        display: none;
    }

    header{
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 1408px){
       header h1{
        font-size: 5rem;
        margin: -1rem;
    }
}

@media only screen and (max-width: 1202px){
       header h1{
        font-size: 4rem;
        margin: -0.5rem
    }

    nav li{
        padding: 0rem;
    }
}

@media only screen and (max-width: 1080px){
    nav li a{
        font-size: 1.75rem;
        border: 3px solid rgb(25,121,25);
        padding: 0.4rem 1rem;
        border-radius: 5px;
    }
}*/

@media only screen and (max-width: 430px){
    .logo{
        display: none;
    }
    
    header h1{
        font-size: 3rem;
    }

}
